@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.notePrivacyPolicy {
    @include onest-400-11;
    color: $white-text;
    font-weight: 400;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}