@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.checkbox {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.mark {
    position: absolute;
    display: block;
    width: 70%;
    max-width: 100%;
    top: .2vw;
    left: .2vw;

    @media (max-width: 1900px) {
        top: 0vw;
    }

    @media (max-width: 1600px) {
        top: -.2vw;
    }

    @media (max-width: 1450px) {
        top: -.2vw;
    }

    @media (max-width: 1000px) {
        top: -.4vw;
        left: .3vw;
    }
}

.square {
    position: relative;
}

.markHidden {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    visibility: hidden;
}

.img {
    width: 100%;
    max-width: 100%;
}