@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.checkbox {
    position: relative;
    display: grid;
    width: 100%;
    // height: 20px;
}

.square {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    max-width: 100%;
    align-items: center;
}

.mark {
    display: block;
    width: 80%;
    max-width: 80%;
    grid-area: 1 / 1 / 2 / 2; 
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

.markHidden {
    opacity: 0;
}

.img {
    width: 100%;
    max-width: 100%;
    grid-area: 1 / 1 / 2 / 2; 
}