@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 22%;
    margin-left: 38%;
    margin-top: 2.4vw;
    background-color: $beige-card;
    border-radius: $button-border;
    backdrop-filter: blur(1rem);
    z-index: 3;
}

.navbarColorful {
    display: block;
    position: fixed;
    top: 0;
    width: 22%;
    margin-left: 38%;
    margin-top: 2.3vw;
    background-color: $beige-transparent;
    border-radius: $button-border;
    backdrop-filter: blur(1rem);
    z-index: 3;
}

.linksWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 4%;
    margin: 0;
    padding: 0.8vw 8%;
}

.linkWrap {
    cursor: pointer;
}

.link {
    cursor: pointer;
    @include onest-400-11;
    color: $black-text;
}

@media (max-width: 1140px) {
    .navbar, 
    .navbarColorful {
        display: none;
    }
}

@media (max-width: 720px) {
    .navbar {
        display: none;
    }
}