@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 37%;
    margin-left: 33%;
    margin-top: 2.4vw;
    background-color: $beige-card;
    border-radius: $button-border;
    backdrop-filter: blur(1rem);
    z-index: 3;
}

.navbarColorful {
    display: block;
    position: fixed;
    top: 0;
    width: 37%;
    margin-left: 33%;
    margin-top: 2.3vw;
    background-color: $beige-transparent;
    border-radius: $button-border;
    backdrop-filter: blur(1rem);
    z-index: 3;
}

.linksWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 4%;
    margin: 0;
    padding: 0.8vw 8%;
    white-space: nowrap;
}

.linkWrap {
    cursor: pointer;
}

.link {
    cursor: pointer;
    @include onest-400-11;
    color: $black-text;
    transition: all 150ms ease-in-out;

    &:hover {
        color: $orange-alert;
    }
}

@media (max-width: 1140px) {
    .navbar, 
    .navbarColorful,
    .subMenuItem,
    .subMenu__hidden {
        display: none;
    }
}

@media (max-width: 720px) {
    .navbar {
        display: none;
    }
}


.navbarContainer {
    position: relative;
    display: inline-block;
}

.subMenu__hidden {
    height: 0vw;
    opacity: 0;
    display: grid;
    grid-template-columns: 26% 26% 18% 21% 22%;
    position: fixed;
    top: 0;
    width: 37%;
    margin-left: 33%;
    margin-top: 2.4vw;
    padding-top: 3.5vw;
    padding-bottom: .5vw;
    background-color: #f5f5f56e;;
    backdrop-filter: blur(2rem);
    border-radius: $button-border;
    transition: all 150ms ease-in-out;
    z-index: -2;
}

.subMenu {
    position: absolute;
    display: grid;
    height: auto;
    opacity: 1;
    grid-template-columns: 26% 26% 18% 21% 22%;
    position: fixed;
    top: 0;
    width: 37%;
    margin-left: 33%;
    margin-top: 2.4vw;
    padding-top: 3.5vw;
    padding-bottom: .5vw;
    background-color: #f5f5f56e;;
    backdrop-filter: blur(2rem);
    border-radius: $button-border;
    transition: all 150ms ease-in-out;
    z-index: -2;

    p {
        transition: all 0ms ease-in-out;
    }
}

.subMenuItem {
    padding: 2px 4px;
    cursor: pointer;

    &:first-of-type {
        padding-left: 2.4vw;
    }
}