@font-face {
  font-family: "Evolventa";
  src: local("Evolventa Bold"),
    local("Evolventa-Bold"),
    url('../src/fonts/Evolventa-Bold.ttf') format("ttf");
    // url("Lexend_Peta-webfont.woff") format("woff"),
    // url("Lexend_Peta-webfont.svg") format("svg");
  font-weight: bold;
}

body {
  font-family: "Evolventa", sans-serif;
}



:root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}
