@font-face {
  font-family: "Evolventa";
  src: local("Evolventa Bold"),
    local("Evolventa-Bold"),
    url('../src/fonts/Evolventa-Bold.ttf') format("ttf");
    // url("Lexend_Peta-webfont.woff") format("woff"),
    // url("Lexend_Peta-webfont.svg") format("svg");
  font-weight: bold;
}

body {
  font-family: "Evolventa", sans-serif;
}

:root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin: 0;
  padding: 0;
}

ul { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow:  hidden;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active{
  background: #F46B4B;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}