@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.transforming {
    margin: 6.4vw 0.6%;
    margin-bottom: 6.1vw;
    margin-bottom: 0;
    position: relative;
}

.background {
    display: block;
    width: 100%;
    max-width: 100%;
}

.header {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 55%;
}

.hanwriteWrap {
    margin-left: auto;
    text-align: right;
    margin-top: -2.8%;
    letter-spacing: .016rem;
}

.customSizes {
    @include transparentBlock;
    padding: 1.5rem 1.7rem;
    top: 18%;
    left: 9.5%;
    width: 22%;
}

.articleTitle {
    @include onest-400-18;
    color: $black-text;
    padding-bottom: 1vw;
    letter-spacing: .016rem;
}

.articleText {
    @include onest-400-13;
    color: $black-text;
}

.individualApproach {
    @include transparentBlock;
    background-color: $orange-alert;
    padding: 1.6rem 1.7rem;
    top: 23%;
    right: 19%;
    width: 21.8%;

    & .articleTitle{
        color: $white-text;
    }

    & .articleText {
        color: $white-text;
    }
}

.range {
    @include transparentBlock;
    top: 51%;
    left: 16.3%;
    width: 25.7%;
    padding: 1.5rem 1.7rem;
}

.installationService {
    @include transparentBlock;
    top: 59.3%;
    right: 14.5%;
    width: 16.7%;
    padding: 1.5rem 1.7rem;
}

.fastDelivery {
    @include transparentBlock;
    bottom: -6%;
    right: 40.5%;
    width: 15%;
    padding: 1.5rem 1.7rem;
}

@media (min-width: 720px) and (max-width: 1140px) {
    .transforming {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 8vw;
    }

    .background {
        margin-top: 24vw;
    }

    .header {
        width: 79.2%;
        top: -13.9%;
        left: 2.2%;
    }

    .hanwriteWrap {
        margin-top: -1%;
    }

    .articleTitle {
        @include onest-400-28;
        padding-bottom: 1.3vw;
        letter-spacing: -0.01rem;
    }
    
    .articleText {
        @include onest-400-22;
        letter-spacing: -0.02rem;
    }

    .customSizes {
        padding: 1.15rem 1.2rem;
        top: -1%;
        left: 2.2%;
        width: 36.5%;
    }

    .individualApproach{
        padding: 1.15rem 1.2rem;
        top: 10.5%;
        right: 7%;
        width: 35.8%;
    }

    .range {
        top: 33.6%;
        left: 32.3%;
        width: 42%;
        padding: 1.15rem 1.2rem;
    }

    .installationService {
        top: 61%;
        right: 48.5%;
        width: 27.7%;
        padding: 1.15rem 1.2rem;
    }

    .fastDelivery {
        bottom: -2.7%;
        right: 4.5%;
        width: 25%;
        padding: 1.15rem 1.2rem;
    }
}