@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.productPage {
    margin-top: 10.3vw;
    margin-left: 4.5%;
    margin-right: 4.5%;
    color: $black-text;
}

.breadCrumbs {
    padding-bottom: 1.3vw;
}

.path {
    @include onest-400-14;
    color: $black-text;
}

@media(max-width: 1140px) {
    .productPage {
        margin-top: 15vw;
    }
}

@media(max-width: 7200px) {
    .productPage {
        margin-top: 20vw;
    }
}