@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.mainAbout {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 19px;
    margin: .6%;
    margin-top: 1.5vw;
}

.backgroundWrap {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.backgroundImg {
    width: 100%;
    max-width: 100%;
}

.textWrap {
    width: 49%;
    padding-top: 39.5vw;
    padding-left: 3vw;
    padding-bottom: 6vw;
    position: relative;
}

.titleWrap {
    width: 100%;
}

.handwritingWrap {
    position: relative;
    padding-left: 18%;
    margin-top: -3%;
    padding-right: .5%;
}

.articleWrap {
    width: 23%;
    margin-top: 15vw;
    margin-left: auto;
    margin-right: 5.8%;
    position: relative;
}

.note {
    @include onest-400-12;
    color: $black-text;
    letter-spacing: .019rem;
    width: 84%;
    margin-left: 1.2vw;
    margin-top: -2vw;
}

// @media (max-width: 720px) {
//     .wrap {
//         margin: 3%;
//         min-width: 300px;
//     }

//     .textWrap {
//         width: 98%;
//         padding-top: 23.2%;
//         padding-left: 2%;
//     }

//     .handwritingWrap {
//         padding-left: 29.558%;
//         margin-top: -1.2%;
//         padding-right: 0.5%;
//     }

//     .handwriteBottomWrap {
//         text-align: right;
//         margin-top: 11.3%;
//         margin-right: 2%;
//     }

//     .articleWrap {
//         width: 100%;
//         margin-top: 65%;
//         margin-left: 1.3vw;
//         margin-right: 0;
//     }

//     .articleText {
//         @include onest-400-28;
//         letter-spacing: 0.0rem;
//         width: 56%;
//     }

//     .btnsWrap {
//         flex-direction: row;
//         padding-top: 2.6%;
//         width: 97%;
//     }

//     .linkOrangeBtnWrap {
//         width: 50%;
//     }
    
//     .linkWhiteBtnWrap {
//         width: 50%;
//     }

//     .pointerWrap {
//         position: absolute;
//         width: 16%;
//         top: 36%;
//         left: 56%;
//         transform: rotate(38deg);
//     }
// }

// @media (max-width: 460px) {
//     .articleWrap {
//         margin-top: 67%;
//     }

//     .btnsWrap {
//         padding-top: 5%;
//     }
// }