@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.productInfo {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 3vw;
}

.slidersWrap {
    width: 51%;
}

.bigSlider {
    position: relative;
    margin-bottom: .7vw;
}

.sliderBtns {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 94%;
    z-index: 10;
    top: 45.5%;
    left: 3%;
}

.btnPrev {
    transform: scaleX(-1);
}

.imgSmall {
    width: 100%;
    height: 70%;
}

.img {
    width: 100%;
    max-width: 100%;
}

.titleWrap {
    @include evolventa-700-25;
    text-transform: uppercase;
    margin-bottom: 1.6vw;
    padding-top: .3vw;
}

.metrics {
    @include onest-500-20;
    margin-bottom: .45vw;
    width: 80%;
    line-height: 100%;
}

.note {
    @include onest-400-13;
    width: 70%;
    margin-bottom: 1.6vw;
}

.materialsWrap {
    position: relative;
    width: 50%;
    max-width: 50%;
}

.materialTitle,
.calculatorTitle {
    @include onest-400-13;
    margin-bottom: 0.7vw;
}

.material {
    @include onest-400-11;
    cursor: pointer;
    padding: 0.6vw 1vw;
    border: 1px solid $border-grey;
    border-radius: $button-border;
    margin-bottom: 1.7vw;
}

.selectedMaterial {
    width: 94%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.optionsWrapClosed {
    display: none;
}

.scrollHiddenContainer {
    width: 100%;
    max-width: 100%;
    height: 20.5vw;
    max-height: 20.5vw;
    overflow: auto;
    padding-top: 2%;
}

.optionsWrap {
    position: absolute;
    display: block;
    z-index: 3;
    background-color: $white-text;
    border: 1px solid $border-grey;
    border-radius: 1.4rem;
    top: 113%;
    padding: 3% 8%;
    padding-top: 0;
    padding-right: 0;
    height: 100%;
    overflow: hidden;
    height: 17.5vw;
}

.option {
    padding-top: 1.6%;
    padding-bottom: 1%;
    cursor: pointer;
    transition: $transition-appearance;

    &:hover .materialText {
        color: $orange-alert;
        transition: $transition-disappearance;
    }
}

.materialText {
    @include onest-400-11;
    width: 92%;
}

.arrowWrap {
    position: absolute;
    top: 24%;
    right: 9%;
    width: 1.5%;
}

.btnsWrap {
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
}

.addToCartWrap {
    width: 55%;
}

.calculateBtnWrap {
    width: 50%;
}

.likeWrap {
    width: 9.2%;
}

.calculatorWrap {
    width: 64%;
}

.topResultsWrap {
    width: 100%;
    display: flex;
    gap: 2%;
    margin-bottom: .55vw;
}

.formResult {
    width: 79%;
}

.resultsWrap {
    width: 79%;
}

.maesuresWrapVisible {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-bottom: 1.7vw;
}

.maesuresWrapInvisible {
    display: none;
    width: 63%;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    margin-bottom: 1.7vw;
}

.measureTitle{
    @include onest-400-13;
    margin-bottom: 0.7vw;
}

.measureInput {
    width: 90%;
    @include onest-400-11;
    cursor: pointer;
    padding: 0.6vw 0vw;
    padding-left: 10%;
    border: 1px solid $border-grey;
    border-radius: $button-border;
    margin-bottom: .55vw;
    transition: $transition-appearance;

    &:focus,
    &:active{
        border: 1px solid $orange-alert;
        outline: none;
        transition: $transition-disappearance;
    }
}

.wallWidth,
.wallHeight {
    width: 49%;
    max-width: 49%;
}

.likeWrap {
    position: absolute;
    z-index: 10;
    top: 4%;
    right: 3%;
    width: 6%;
}

.checkboxWrap {
    @include onest-400-18;
    display: flex;
    gap: .5vw;
    margin-top: 2vw;
}

.subcategoryCheckboxWrap {
    width: 1vw;
    cursor: pointer;
}

.installationNote {
    @include onest-400-13;
    margin-top: 1vw;
}

.error {
    @include onest-400-11;
    min-height: 1vw;
    color: $orange-alert;
}

.modal_btn {
    width: 50%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 720px) {

    .productInfo {
        flex-direction: column;
    }

    .slidersWrap {
        width: 100%;
    }

    .btnPrev,
    .btnNext {
        width: 6vw;
    }

    .materialsWrap {
        width: 64%;
        width: 64%;
    }

    .maesuresWrapVisible {
        width: 80%;
        max-width: 80%; 
    }

    .subcategoryCheckboxWrap {
        width: 1.5vw;
    }

    .titleWrap {
        @include evolventa-700-75;
    }
    
    .metrics {
        @include onest-500-28;
    }
    
    .note {
        @include onest-400-28;
    }

    .materialTitle,
    .calculatorTitle {
        @include onest-400-28;
    }

    .material {
        @include onest-400-24;
        padding: 1.6vw 2vw;
    }

    .materialText {
        @include onest-400-24;
    }

    .measureTitle{
        @include onest-400-24;
    }
    
    .measureInput {
        @include onest-400-24;
        padding: 1.6vw 2vw;
    }

    .maesuresWrapVisible {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .wallWidth {
        width: 63%;
        max-width: 63%;
    }

    .wallHeight {
        width: 63%;
        max-width: 63%;
    }

    .checkboxWrap {
        @include onest-400-23;
    }
    
    
    .installationNote {
        @include onest-400-20;
    }
    
    .error {
        @include onest-400-20;
    }

    .resultsWrap {
        width: 82%;
    }

    .btnsWrap {
        margin-bottom: 10vw;
    }
}

@media(max-width: 570px) {
    .materialsWrap,
    .calculatorWrap {
        width: 100%;
        max-width: 100%;
    }

    .resultsWrap {
        width: 88%;
    }

    .topResultsWrap {
        margin-bottom: 2.55vw;
    }

    .titleWrap {
        @include evolventa-700-111;
    }
    
    .metrics {
        @include onest-500-45;
    }
    
    .note {
        @include onest-400-45;
        margin-bottom: 10vw;
    }

    .materialTitle,
    .calculatorTitle {
        @include onest-400-45;
    }

    .material {
        @include onest-400-34;
        padding: 1.6vw 2vw;
        margin-bottom: 4vw;

    }

    .materialText {
        @include onest-400-34;
    }

    .measureTitle{
        @include onest-400-34;
    }
    
    .measureInput {
        @include onest-400-34;
    }

    .checkboxWrap {
        @include onest-400-28;
        margin-top: 4vw;
    }
    
    
    .installationNote {
        @include onest-400-28;
    }
    
    .error {
        @include onest-400-28;
    }

    .subcategoryCheckboxWrap {
        width: 2.5vw;
    }

    .btnsWrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 520px) {
    .arrowWrap{
        top: 2vw;
    }
}

@media (max-width: 420px) {
    .arrowWrap{
        top: 1.5vw;
    }
}


@media (max-width: 370px) {
    .arrowWrap{
        top: 0vw;
    }
}

@media (max-width: 330px) {
    .arrowWrap{
        top: .5vw;
    }
}