
// @import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

// A title is black by default 
.title {
    @include evolventa-700-38;
    color: $black-text;
    text-transform: uppercase;
    padding-top: 30%;
}

// White title 
.whiteTitle {
    @include evolventa-700-38;
    color: $white-text;
    text-transform: uppercase;
    line-height: 119%;
    letter-spacing: .057rem;
}