
// @import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

// A title is black by default 
.title {
    color: $black-text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-38;
    @include evolventa-700-38;
    padding-top: 30%;
    // line-height: 42px;
}

// White title 
.whiteTitle {
    color: $white-text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-38;
    @include evolventa-700-38;
}