@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.subscribe {
    position: relative;
    margin-top: 15vw;
    margin-right: .6%;
    margin-left: .6%;
}

.backWrap {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
}

.arrowWrap {
    position: absolute;
    width: 18.3%;
    top: 72%;
    left: 21%;
}

.backImg,
.img {
    width: 100%;
    max-width: 100%;
}

.titleWrap {
    position: relative;
    width: 55%;
    padding-top: 1.8vw;
    margin-left: 2.9vw;
    background-color: transparent;
}

.note {
    position: absolute;
    background-color: $white-50;
    backdrop-filter: blur(1rem);
    top: 6.5%;
    right: 2.45%;
    width: 33.3%;
    border-radius: 1.2rem;
}

.noteStar {
    @include evolventa-700-75;
    color: $orange-alert;
    padding-top: 1.2vw;
    padding-left: 2.2vw;
}

.noteText {
    @include onest-400-14;
    color: $black-text;
    padding-bottom: 2vw;
    padding-left: 2.2vw;
    margin-top: 0.4vw;
    width: 70%;
    letter-spacing: -0.015rem;
}

.formsWrap {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2%;
    padding: 12.5vw 3%;
}

.input {
    background-color: $white-50;
    backdrop-filter: blur(1rem);
    border: none;
    outline: none;
    width: 29%;
    border-radius: 2rem;
    padding-left: 2.24%;

    &::placeholder {
        @include onest-400-14;
        color: $black-text;
    }
}

.btnWrap {
    position: relative;
    width: 36%;
}

.notePrivacyPolicyWrap {
    position: absolute;
    width: 100%;
    top: 135%;
    right: 0%;
    letter-spacing: -0.02rem;
}