@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.categories {
    padding: $horizontal-block-paddings-big;
    padding-top: 5.6vw;
}

.contentWrap {
    padding-top: 1.8vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2vw;
}

.categoryWrap {
    width: 49%;
    position: relative;
}

.filmsWrap {
    margin-top: 2.5vw;
}

.img {
    width: 100%;
    max-width: 100%;
}

.walpapersDescriptionWrap {
    width: 43.5%;
    max-width: 100%;
    position: absolute;
    background-color: $beige-transparent;
    backdrop-filter: blur(1rem);
    bottom: .4vw;;
    left: 2.1vw;
    border-radius: 1.2rem;
    padding: 1.6vw 1.8vw;
}

.filmsDescriptionWrap {
    width: 43.5%;
    max-width: 100%;
    position: absolute;
    background-color: $beige-transparent;
    backdrop-filter: blur(1rem);
    top: 0;;
    right: 2.1vw;
    border-radius: 1.2rem;
    padding: 1.6vw 1.8vw;
}

.blackBtnWrap {
    width: 66%;
}

.categoryText {
    @include onest-400-18;
    color: $black-text;
    padding-bottom: 1vw;
}

@media (min-width: 720px) and (max-width: 1140px) {
    .categories {
        padding-top: 8.6vw;
        padding-right: 4vw;
        padding-left: 4vw;
    }

    .contentWrap {
        flex-direction: column;
        padding-top: 2.8vw;
    }

    .categoryWrap {
        width: 100%;
    }

    .walpapersDescriptionWrap {
        width: 30%;
        bottom: 56vw;
        left: 59vw;
        padding: 2.4vw 2.2vw;
        backdrop-filter: blur(2rem);
    }

    .categoryText {
        @include onest-400-28;
        color: $black-text;
        padding-bottom: 1vw;
    }

    .blackBtnWrap {
        width: 78%;
        padding-bottom: .6vw;
    }

    .filmsDescriptionWrap {
        width: 29%;
        backdrop-filter: blur(2rem);
        top: -0.5vw;
        right: 0vw;
        padding: 2.4vw 2.2vw;
        padding-top: 3vw;
    }
}

@media (max-width: 720px) {
    .categories {
        padding-top: 14vw;
        padding-right: 4.5vw;
        padding-left: 4.5vw;
    }

    .contentWrap {
        flex-direction: column;
        padding-top: 2.8vw;
        gap: 3vw;
    }

    .categoryWrap {
        width: 100%;
    }

    .walpapersDescriptionWrap {
        width: 27.5%;
        bottom: 52.5vw;
        left: 57vw;
        padding: 4vw 3.5vw 3vw 3.5vw;
        backdrop-filter: blur(2rem);

        & button {
            padding-top: .4rem !important;
            padding-bottom: .6rem !important;
        }

        & button a {
            font-size: $font-size-22 !important;
        }
    }

    .categoryText {
        @include onest-400-34;
        color: $black-text;
        padding-bottom: 1.8vw;
    }

    .blackBtnWrap {
        width: 100%;
        padding-bottom: .6vw;
    }

    .filmsDescriptionWrap {
        width: 29%;
        backdrop-filter: blur(2rem);
        top: -0.5vw;
        right: 0vw;
        padding: 2.4vw 2.2vw;
        padding-top: 3vw;
    }
}