@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.cartPage {
    position: relative;
    margin-right: 4.6%;
    margin-left: 4.6%;
    margin-top: 8.1vw;
    margin-bottom: 2vw;
}

.noCartItems {
    margin-top: 10vw;
    @include onest-400-22;
    color: $black-text;
    margin-bottom: 5vw;
}

.btnWrap {
    width: 30%;
    margin-bottom: 10vw;
}

.contentWrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 2vw;
}

.note {
    @include onest-400-11;
    letter-spacing: 0.026rem;
    text-align: center;
    background-color: $orange-alert;
    color: $white-text;
    text-transform: uppercase;
    padding: 2.2vw 2.3vw;
    border-radius: 1.2rem;
    margin-bottom: 2.6vw;
}

.cartTable {
    width: 71%;
    border: 1px solid $black-text;
    border-radius: 1.2rem;
    @include onest-400-11;
}

.cartSummary {
    width: 29%;
    height: auto;
}

.cartHeader {
    display: grid;
    grid-template-columns: 6% 20% 52% 22%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-top: 3.1vw;
    padding-bottom: 1vw;
}

.headerItem_product {
    grid-area: 1 / 3 / 2 / 4;
    color: $black-text;
}

.headerItem_price {
    grid-area: 1 / 4 / 2 / 5; 
    color: $black-text;
}

.headerItem_amount {
    grid-area: 1 / 5 / 2 / 6; 
    color: $black-text;
}

.headerItem_total {
    grid-area: 1 / 6 / 2 / 7; 
    color: $black-text;
}

.cartSummary {
    background-color: $beige-card;
    color: $black-text;
    padding: 1.8vw;
    border-radius: 1.2rem;
}

.cartSummary_header {
    @include onest-500-14;
    margin-top: 1.4vw;
}

.cartSummary_item {
    @include onest-500-13;
    display: flex;
    justify-content: space-between;
    margin: 1.8vw 0
}

.cartSummary_text {
    @include onest-400-11;
    margin: .8vw 0;
    line-height: 114%;
}

@media (max-width: 1140px) {
    .cartPage {
        margin-top: 15vw;
    }

    .contentWrap {
        flex-direction: column
    }

    .cartTable {
        width: 100%;
    }

    .cartSummary {
        width: 97%;
    }

    .cartSummary_header {
        @include onest-500-23;
    }

    .cartSummary_item {
        @include onest-500-23;
    }

    .cartSummary_btn {
        width: 37%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 720px) {
    .cartPage {
        margin-top: 20vw;
    }

    .noCartItems {
        @include onest-400-28;
    }

    .cartSummary_header {
        @include onest-500-28;
    }

    .cartSummary_item {
        @include onest-500-28;
    }

    .cartSummary_text {
        @include onest-400-23;
    }

    .cartTable {
        @include onest-400-28;
    }

    .note {
        @include onest-400-23;
    }
}

@media (max-width: 500px) {
    .cartPage {
        margin-top: 20vw;
    }

    .cartSummary_header {
        @include onest-500-34;
    }

    .cartSummary_item {
        @include onest-500-34;
    }

    .cartSummary_text {
        @include onest-400-28;
    }

    .noCartItems {
        @include onest-400-34;
    }

    .cartTable {
        @include onest-400-34;
    }

    .note {
        @include onest-400-28;
    }
}

@media (max-width: 420px) {
    .cartPage {
        margin-top: 5vw;
    }
}

@media (max-width: 400px) {
    .cartPage {
        margin-top: 0vw;
    }
}