// colors

$white-text: #FFF;
$white-50: rgba(251, 251, 251, 0.5);
$black-text: #191919;
$black-90: rgba(25, 25, 25, 0.9);
$orange-alert: #F46B4B;
$orange-hover: #D05235;
$beige: #E7E0D6;
$beige-transparent: rgba(251, 251, 251, 0.5);
