// $font-size-8: 0.612vw;
// $font-size-12: 0.833vw;
// $font-size-14: 0.972vw;
// $font-size-16: 1.111vw;
// $font-size-18: 1.25vw;
// $font-size-20: 1.389vw;
// $font-size-24: 1.606vw;
// $font-size-26: 1.806vw;
// $font-size-30: 2vw;
// $font-size-36: 2.556vw;
$font-size-11: 1vw;
$font-size-14: 1.25vw;
$font-size-18: 1.50vw;
$font-size-38: 3.18vw;
$font-size-64: 5.48vw;

$button-border: 2rem;

$transition-appearance: all 250ms ease-in;
$transition-disappearance: all 150ms ease-out;

