@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

.helpfulArticles {
    margin: 12vw 3.5vw;
    margin-bottom: 7.8vw;
}

.titleWrap {
    width: 57%;
}

.handwritingWrap {
    text-align: right;
    width: 71%;
    margin-top: -1.7vw;
}

.contentWrap {
    margin-top: -5.8vw;
}

.btnWrap {
    width: 17.3%;
    margin-left: auto;
}

.articlesWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.article {
    width: 32%;
}

.link,
.imgWrap,
.img {
    width: 100%;
    max-width: 100%;
}

.articleTitle {
    @include onest-400-18;
    color: $black-text;
    padding-top: 1.2vw;
    width: 70%;
    letter-spacing: 0.025rem;
}

@media (max-width: 1140px)  {

    .helpfulArticles {
        margin-top: 32.2vw;
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .handwritingWrap {
        width: 96.4%;
        margin-top: -1vw;
    }

    .contentWrap {
        margin-top: -8.8vw;
    }

    .btnWrap {
        width: 31.3%;
    }

    .article {
        width: 48.6%;
    }

    .articleTitle {
        padding-top: 1.9vw;
        letter-spacing: -0.01rem;
        margin-bottom: 2.2vw;
    }
}

@media (max-width: 720px) {

    .helpfulArticles {
        margin-top: 31.2vw;
        margin-right: 4.5vw;
        margin-left: 4.5vw;
    }

    .titleWrap {
        width: 100%;
    }

    .handwritingWrap {
        width: 57%;
        margin-top: -1.6vw;
    }

    .contentWrap {
        margin-top: -12.8vw;
    }

    .articlesWrap {
        flex-direction: column;
        margin-top: 5.1vw;
    }

    .article {
        width: 100%;
    }

    .articleTitle {
        font-size: $font-size-34;
        letter-spacing: -0.015rem;
        padding-top: 2.3vw;
        margin-bottom: 4.2vw;
    }

    .btnWrap {
        & button {
            padding-top: .6rem;
            padding-bottom: .5rem;
        }

        & button a {
            font-size: $font-size-22;
        }
    }
}