@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.wrap {
    height: 100vh;
    width: 99%;
    background-image: url('../../../assets/mainBack.webp');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 19px;
    margin: .6%;
}

.textWrap {
    width: 56%;
    padding-top: 8.5%;
    padding-left: 3%;
}

.handwritingWrap {
    position: relative;
    padding-left: 18%;
    margin-top: -3%;
    padding-right: .5%;
}

.handwriteBottomWrap {
    text-align: right;
    margin-top: -4.8%;
}

.pointerWrap {
    position: absolute;
    width: 17.4%;
    top: 21%;
    left: 49%;
}

.pointerImg {
    width: 100%;
    max-width: 100%;
}

.articleWrap {
    width: 23%;
    margin-top: 16.15%;
    margin-left: auto;
    margin-right: 6%;
}

.articleText {
    @include onest-400-14;
    color: $black-text;
    letter-spacing: -0.015rem
}

.btnsWrap {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 2%;
    gap: 2%;
}

.linkOrangeBtnWrap {
    width: 39%;
}

.linkWhiteBtnWrap {
    width: 58%;
}