@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.wrap {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 19px;
    margin: .6%;
}

.backgroundWrap {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.backgroundImg {
    width: 100%;
    max-width: 100%;
}

.textWrap {
    width: 57%;
    padding-top: 8.5%;
    padding-left: 3%;
    position: relative;
}

.titleWrap {
    width: 100%;
}

.handwritingWrap {
    position: relative;
    padding-left: 18%;
    margin-top: -3%;
    padding-right: .5%;
}

.handwriteBottomWrap {
    text-align: right;
    margin-top: -4%;
    margin-right: 2.3%;
}

.pointerWrap {
    position: absolute;
    width: 17.4%;
    top: 22%;
    left: 48%;
}

.pointerImg {
    width: 100%;
    max-width: 100%;
}

.articleWrap {
    width: 23%;
    margin-top: 16vw;
    margin-left: auto;
    margin-right: 5.8%;
    position: relative;
}

.articleText {
    @include onest-400-14;
    color: $black-text;
    letter-spacing: -0.015rem
}

.btnsWrap {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 8%;
    gap: 2%;
}

.linkOrangeBtnWrap {
    width: 39%;
}

.linkWhiteBtnWrap {
    width: 58%;
}

@media (min-width: 720px) and (max-width: 1140px) {
    .wrap {
        margin: 2%;
    }

    .textWrap {
        width: 99%;
        padding-top: 17.5%;
        padding-left: 2.3%;
    }

    .titleWrap {
        width: 85%;
    }

    .handwritingWrap {
        padding-left: 21.5%;
        margin-top: -0.5%;
        padding-right: 1.8%;
    }

    .pointerWrap {
        width: 16.4%;
        top: 21%;
        left: 50%;
    }

    .articleWrap {
        width: 30%;
        margin-top: 37vw;
        margin-left: auto;
        margin-right: 2.3%;
    }

    .articleText {
        @include onest-400-22;
        width: 99%;
        letter-spacing: -0.015rem;
        line-height: 123%;
    }

    .btnsWrap {
        flex-direction: column;
        gap: 1.3vw;
    }

    .linkOrangeBtnWrap {
        width: 100%;
    }
    
    .linkWhiteBtnWrap {
        width: 100%;
    }
}

@media (max-width: 720px) {
    .wrap {
        margin: 3%;
        min-width: 300px;
    }

    .textWrap {
        width: 98%;
        padding-top: 23.2%;
        padding-left: 2%;
    }

    .handwritingWrap {
        padding-left: 29.558%;
        margin-top: -1.2%;
        padding-right: 0.5%;
    }

    .handwriteBottomWrap {
        text-align: right;
        margin-top: 11.3%;
        margin-right: 2%;
    }

    .articleWrap {
        width: 100%;
        margin-top: 65%;
        margin-left: 1.3vw;
        margin-right: 0;
    }

    .articleText {
        @include onest-400-28;
        letter-spacing: 0.0rem;
        width: 56%;
    }

    .btnsWrap {
        padding-top: 4.6%;
        width: 97%;
    }

    .linkOrangeBtnWrap {
        width: 50%;
    }
    
    .linkWhiteBtnWrap {
        width: 50%;
    }

    .pointerWrap {
        position: absolute;
        width: 16%;
        top: 36%;
        left: 56%;
        transform: rotate(38deg);
    }
}

@media (max-width: 460px) {
    .articleWrap {
        margin-top: 67%;
    }

    .btnsWrap {
        padding-top: 5%;
    }
}