@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.search {
    position: sticky;
    top: 4vw;
    max-height: 75vh;
    overflow-y: scroll;
    margin-bottom: 3vw;
}

.searchTitle {
    @include onest-500-14;
    color: $black-text;
    position: relative;
    padding-bottom: 1.3vw;
    text-align: left;
}

.subcategoryCheckbox {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 4%;
    padding-bottom: .366vw
}

.results,
.otherCategories {
    padding-bottom: 1.4vw;
}

.text {
    @include onest-400-13;
    color: $black-text;
    width: 90%;
}

.arrowWrap {
    position: absolute;
    top: -10%;
    right: -1.25vw;
    width: 0.6vw;
}

.img {
    width: 100%;
    max-width: 100%;
}

.checkBoxWrap {
    width: 1.2vw
}

.otherCategories {
    visibility: visible;
    height: auto;
    min-height: max-content;
}

.categoryName {
    @include onest-400-13;
    color: $black-text;
    transition: color 200ms ease-out;

    &:hover {
        color: $orange-alert;
        transition: color 150ms ease-out;
    }
}

.otherCategoriesClosed {
    visibility: hidden;
    height: 0;
}

.colorWrap {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: stretch;
    gap: 2%;
    padding-bottom: 2%;
}

.colorsWrapHidden {
    visibility: hidden;
    height: 0;
}

@media (max-width: 1300px) {
    .searchTitle {
        @include onest-500-18;
    }

    .categoryName {
        @include onest-400-14;
    }
}

@media (max-width: 1140px) {
    .checkBoxWrap {
        width: 1.8vw
    }

    .searchTitle {
        @include onest-500-23;
    }

    .categoryName {
        @include onest-400-14;
    }

    .text {
        @include onest-400-14;
    }
}

@media (max-width: 720px) {
    .checkBoxWrap {
        width: 2.2vw
    }

    .searchTitle {
        @include onest-500-34;
    }

    .categoryName {
        @include onest-400-28;
    }

    .text {
        @include onest-400-24;
    }

    .arrowWrap {
        display: none;
    }

    .subcategoryCheckbox,
    .colorWrap {
        align-items: baseline;
    }
}