@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
.footer {
    position: relative;
    margin-right: .6%;
    margin-left: .6%;
    min-height: fit-content;
}

.contentWrap {
    display: flex;
    flex-wrap: nowrap;
}

.backWrap {
    position: absolute;
    width: 100%;
    max-width: 100%;
}

.imgsGallery {
    position: absolute;
    display: block;
    top: 0;
    right: 3%;
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100%;
    max-width: 100%;
}

.imgMockUp {
    width: 100%;
    max-width: 100%;
}

.imgWrap {
    width: 22.4%;
}

.contactsWrap {
    position: relative;
    width: 45.5%;
    padding-left: 2.9vw;
    margin-top: -1.1vw;
}

.iconsWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: .8vw;
    padding-bottom: 0.1vw;
}

.link {
    width: 100%;
    max-width: 100%;
} 

.icon {
    width: 8.6%;
}

.tel,
.email {
    @include onest-400-18;
    color: $white-text;
    letter-spacing: 0.03rem;
}

.mailWrap,
.telWrap {
    padding-top: 1vw;
}

.titleWrap {
    position: relative;
    width: 60%;
    padding-top: 5.4vw;
    padding-left: 2.9vw;
}

.handwriteWrap {
    text-align: right;
    width: 48.6%;
    margin-top: -1.7vw;
}

.linksWrap {
    position: relative;
    width: 44%;
    margin-top: -1.1vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.menuItemWrap {
    width: 30%;
    margin-right: 3%;
}

.menuItem {
    @include onest-400-13;
    cursor: pointer;
    color: $white-text;
    transition: $transition-appearance;

    &:hover {
        color: $beige-card;
        transition: $transition-disappearance;
    }
}

.btnUp {
    cursor: pointer;
    position: absolute;
    border: none;
    outline: none;
    top: 50.6%;
    width: 4.8%;
    right: 2.45%;
    background-color: transparent;
}

.underline {
    @include onest-400-12;
    position: relative;
    display: flex;
    gap: 2.9%;
    padding-left: 2.9vw;
    padding-top: 5vw;
    color: $white-70;
    
}

.privPolicy {
    @include onest-400-12;
    color: $white-70;
    transition: $transition-appearance;

    &:hover {
        text-decoration: underline;
        transition: $transition-disappearance;
    }
}

@media (max-width: 1140px) {
    .footer {
        min-height: fit-content;
        margin-right: 4vw;
        margin-left: 4vw;
        margin-bottom: 4vw;
    }

    .imgsGallery {
        right: 0%;
        width: 137%;
        justify-content: flex-end;
    }

    .imgWrap {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
            display: none;
        }
    }

    .titleWrap {
        padding-top: 6vw;
        padding-left: 3.3vw;
    }

    .handwriteWrap {
        width: 70.6%;
        margin-top: -0.7vw;
    }

    .contentWrap {
        flex-direction: column;
    }

    .iconsWrap {
        gap: 1.1vw;
        padding-top: 1.5%;
        padding-left: 1.5%;
    }

    .icon {
        width: 15%;
    }

    .telWrap {
        padding-top: 1.2vw;
    }

    .tel,
    .email {
        letter-spacing: -.002rem;
    }

    .linksWrap {
        width: 81%;
        margin-top: 4.9vw;
        margin-left: 3.5vw;
    }

    .menuItemWrap {
        margin-bottom: 0.6%;
    }

    .btnUp {
        top: 68%;
        width: 8.5%;
        right: 3.22%;
    }

    .privPolicy,
    .underline {
        @include onest-400-20;
        gap: 9.9%;
    }

    .underline {
        gap: 9.9%;
        letter-spacing: -.01rem;
    }
}


@media (max-width: 720px) {
    .footer {
        margin: 11.6vw 4.5vw 4.5vw 4.5vw;
    }

    .imgsGallery {
        display: none;
    }

    .titleWrap {
        padding-top: 7.5vw;
        padding-left: 4.4vw;
    }

    .handwriteWrap {
        width: 94.6%;
        margin-top: -1.7vw;
    }

    .iconsWrap {
        gap: 1.8vw;
        padding-top: 2.5%;
        padding-left: 4.5%;
    }

    .icon {
        width: 20%;
    }

    .tel,
    .email {
        font-size: $font-size-38;
        letter-spacing: 0rem;

    }
    
    .mailWrap,
    .telWrap {
        padding-top: 1.2vw;
        padding-left: 4.5%;
    }

    .telWrap {
        margin-top: 1vw;
    }

    .linksWrap {
        width: 91.9%;
        margin-top: 6.3vw;
        margin-left: 4.8%;
    }

    .menuItemWrap {
        margin-bottom: .9%;
    }

    .menuItem {
        font-size: $font-size-28;
    }

    .underline {
        margin-left: 1.8%;
        padding-top: 7vw;
        gap: 7.9%;
        letter-spacing: -.03rem;
    }

    .privPolicy,
    .underline {
        font-size: $font-size-25;
    }

    .btnUp {
        top: 36.5%;
        width: 11.5%;
        right: 4.5%;
    }
}