@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.otherMain {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 19px;
    margin: .6%;
    margin-top: 1.5vw;
}

.backgroundImg {
    width: 100%;
    max-width: 100%;
}

.content {
    position: absolute;
    bottom: 4%;
    text-align: center;
    left: 0;
    width: 42.5%;
}

.text {
    @include onest-400-18;
    color: $black-text;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}

@media (max-width: 1140px) {
    .content {
        bottom: 3%;
        width: 53.5%;
    }

    .text {
        margin-left: 5%;
        @include onest-400-24;
    }
}

@media (max-width: 720px) {

    .otherMain {
        margin-top: 33vw;
    }
    .content {
        top: -5%;
        left: 0%;
        width: 100%;
        text-align: left;
    }

    .text {
        margin-top: 2%;
        margin-left: 50%;
        width: 50%;
        @include onest-400-34;
    }
}

