@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.customDesignService {
    margin-top: 6vw;
    margin-bottom: 6vw;
}

.titleWrap {
    width: 75%;
}

.handwriteWrap {
    text-align: end;
    width: 86.5%;
    margin-top: -1.7vw;
}

.contentWrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 2%;
}

.cardBeuge,
.cardOrange,
.cardImg {
    border-radius: 1rem;
    width: 28.5%;

}

.cardBeuge,
.cardOrange {
    padding: 2.5vw;
}

.cardBeuge {
    background-color: $beige;
}

.cardOrange {
    background-color: $orange-alert;
    & .text {
        color: $white-text;
    }
}

.text {
    @include onest-400-14;
}

.img {
    width: 100%;
    max-width: 100%;
}


@media (max-width: 720px) {
    .customDesignService {
        margin-bottom: 0vw;
    }

    .handwriteWrap {
        width: 97.5%;
        margin-top: -3vw;
    }

    .contentWrap {
        flex-wrap: wrap;
        gap: 2vw;
    }

    .cardBeuge,
    .cardOrange,
    .cardImg {
        // width: 43%;
        // height: 20vw;
        width: 100%;

    }

    .cardBeuge,
    .cardOrange {
        padding: 6.5vw;
    }

    .cardImg {
        width: 100%;
    }

    .text {
        @include onest-400-28;
    }
}

@media (max-width: 540px) {
    .text {
        @include onest-400-45;
    }

    .contentWrap {
        gap: 4vw;
    }
}