@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.howPlaceOrder {
    margin: 15.9vw 3.5vw;
    margin-bottom: 16.4vw;
    margin-bottom: 0;
}

.contentWrap {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(2, .7fr) repeat(2, 1fr) repeat(2, .7fr);
    grid-template-rows: repeat(2, .8fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1.6vw;
}

.card1 {
    background-color: $orange-alert;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    padding-bottom: 1vw;
    grid-area: 1 / 1 / 2 / 4;

    & .number {
        @include evolventa-700-38;
        color: $white-text;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $white-text;
        padding-top: 4vw;
        letter-spacing: .04rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $white-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 82%;
        letter-spacing: -.015rem;
    }
}

.card2 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    grid-area: 1 / 4 / 2 / 7;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .04rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 76%;
        letter-spacing: -.015rem;
    }
}

.card3 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    grid-area: 2 / 1 / 3 / 3;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 94%;
        letter-spacing: -.015rem;
    }
}

.card4 {
    background-color: $orange-alert;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    grid-area: 2 / 3 / 3 / 5;

    & .number {
        @include evolventa-700-38;
        color: $white-text;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $white-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $white-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 100%;
        letter-spacing: -.015rem;
    }
}

.card5 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    grid-area: 2 / 5 / 3 / 7; 

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 83%;
        letter-spacing: -.015rem;
    }
}

@media (max-width: 1140px) {

    .howPlaceOrder {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .contentWrap {
        display: flex;
        flex-direction: column;
        margin-top: 3vw;
        grid-row-gap: 2.9vw;
    }

    .card1, 
    .card2, 
    .card3, 
    .card4, 
    .card5 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 3.7vw;

        & .cardTitle {
            margin-top: 0;
            padding-top: 1.5vw;
            letter-spacing: -0.02rem;
        }

        & .number {
            padding-left: 1.4vw;
            padding-top: 1.1vw;
            padding-right: 5.5vw;
        }

        & .cardText {
            width: 84%;
            padding-top: 2.2vw;
            letter-spacing: -0.023rem;
        }
    }

    .card2 {
        & .cardText {
            width: 93%;
        }
    }

    .card3 {
        & .cardText {
            width: 62%;
        }
    }

    .card4 {
        & .cardText {
            width: 85%;
        }
    }

    .card5 {
        & .cardText {
            width: 57%;
        }
    }
}

@media (max-width: 720px) {
    .howPlaceOrder {
        margin-top: 16.4vw;
        margin-right: 4.5vw;
        margin-left: 4.5vw;
    }

    .contentWrap {
        grid-row-gap: 3.8vw;
    }

    .card1, 
    .card2, 
    .card3, 
    .card4, 
    .card5 {
        padding: 1.6vw 3.1vw;
        padding-bottom: 3.5vw;

        & .cardTitle {
            font-size: $font-size-34;

        }

        & .number {
            font-size: $font-size-64;
            padding-right: 4.5vw;
        }

        & .cardText {
            font-size: $font-size-28;
            padding-top: 3vw;
            width: 93%;
            letter-spacing: 0rem;
            line-height: 128%;
        }
    }
}