@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.bestsellers {
    padding: 11.2vw 3.5vw;
    padding-bottom: .5vw;
}

.handwriteWrap {
    margin-top: -1vw;
    margin-top: -1.5vw;
    margin-left: 8.2vw;
}

.btnWrap {
    width: 17%;
    margin-left: auto;
    margin-top: -6.1vw;
}

.contentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.2vw;
}

.bigbestseller,
.smallbestsellers {
    width: 49%;
    padding-bottom: 1.35vw;
}

.bigbestseller {
    position: relative;
}

.category {
    position: absolute;
    top: 2vw;
    left: 2vw;
    background-color: $beige-transparent;
    width: fit-content;
    white-space: nowrap;
    backdrop-filter: blur(1rem);
    border-radius: $button-border;
    padding: 1vw 2.8vw;
}

.img {
    width: 100%;
    max-width: 100%;
}

.smallBestsellersWrap {
    padding-top: .35vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 1.73vw;
}

.smallBestseller {
    width: 19.2%;
}

.bottomHandwriteWrap {
    padding-left: 10.8vw;
    margin-top: -1%;
    letter-spacing: .013rem;
}

.pointerWrap {
    width: 16.4%;
    margin-left: 62.2%;
    margin-top: .3%;
}

.orangeBtnWrap {
    width: 56.1%;
    margin-left: auto;
    padding-top: 3.58vw;
}

.categoryName {
    @include onest-400-18;
    color: $black-text;
}

@media (min-width: 720px) and (max-width: 1140px) {
    .bestsellers {
        padding-top: 12.8vw;
        padding-right: 4vw;
        padding-bottom: 0.5vw;
        padding-left: 4vw;
    }

    .handwriteWrap {
        margin-left: 12.8vw;
    }

    .btnWrap {
        width: 31.4%;
        margin-left: auto;
        margin-top: -10.1vw;
    }

    .contentWrap {
        flex-direction: column;
        padding-top: 3.5vw;
    }

    .bigbestseller {
        width: 100%;
    }

    .category {
        top: 3.5vw;
        left: 3.5vw;
        padding: 1.35vw 3.8vw;
    }

    .categoryName {
        @include onest-400-28;
    }

    .smallbestsellers {
        width: 100%;
        display: flex;
    }

    .smallBestsellersWrap {
        gap: 2.8vw;
        width: 51.5%;
    }

    .smallBestseller {
        width: 29.2%;
    }

    .btnSection {
        width: 48%;

    }

    .pointerWrap {
        display: none;
    }

    .bottomHandwriteWrap {
        padding-left: 3.4vw;
        margin-top: 2%;
    }

    .orangeBtnWrap {
        width: 92%;
        margin-left: auto;
        padding-top: 0vw;
        margin-top: -2.2vw;
    }
}