@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';

.bestsellers {
    padding: 11.2vw 3.5vw;
    padding-bottom: .5vw;
}

.handwriteWrap {
    margin-top: -1vw;
    margin-top: -1.5vw;
    margin-left: 8.2vw;
}

.btnWrap {
    width: 17%;
    margin-left: auto;
    margin-top: -6.1vw;
}

.contentWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.2vw;
}

.bigbestseller,
.smallbestsellers {
    width: 49%;
    padding-bottom: 1.35vw;
}

.bigbestseller {
    position: relative;
}

.category {
    position: absolute;
    top: 2vw;
    left: 2vw;
    background-color: $beige-transparent;
    width: fit-content;
    white-space: nowrap;
    backdrop-filter: blur(1rem);
    border-radius: $button-border;
    padding: 1vw 2.8vw;
}

.img {
    width: 100%;
    max-width: 100%;
}

.smallBestsellersWrap {
    padding-top: .35vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 1.73vw;
}

.smallBestseller {
    width: 19.2%;
}

.bottomHandwriteWrap {
    padding-left: 10.8vw;
    margin-top: -1%;
    letter-spacing: .013rem;
}

.pointerWrap {
    width: 16.4%;
    margin-left: 62.2%;
    margin-top: .3%;
}

.orangeBtnWrap {
    width: 56.1%;
    margin-left: auto;
    padding-top: 3.58vw;
}

.categoryName {
    @include onest-400-18;
    color: $black-text;
}