@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';

.header {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 99%;
    padding-top: 2.4vw;
}

.logoWrap {
    margin-left: 3.8vw;
    width: 6.5%;
}

.contentWrap {
    padding-right: 3%;
    padding-left: 3%;
}

.contentWrap {
    display: flex;
}

.iconsWrap {
    position: fixed;
    top: 2.4vw;
    right: 4.35vw;
    margin-left: auto;
    width: 13.9%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 3%;
}

.selectorWrap {
    width: 51.5%;
    height: 30%;
}

.iconWrap {
    width: 21.5%;
    height: 55%;
}

@media(max-width: 1140px) {
    .iconWrap {
        display: block;
        width: 5vw;
        min-width: 5vw;
        // height: 55%;
    }
}

.counter {
    @include onest-400-11;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -26%;
    left: 60%;
    color: $black-text;
    background-color: $beige-card;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
}

@media (min-width: 720px) and (max-width: 1140px) {
    .header {
        padding-top: 4.2%;
    }

    .logoWrap {
        width: 11%;
        padding-left: 3%;
    }

    .contentWrap {
        padding-right: 3.5%;
        padding-left: 3.5%;
    }

    .iconsWrap {
        width: 24.5%;
        padding-top: 1.2%;
        align-items: center;
    }
}

@media (max-width: 720px) {

    .header {
        padding-top: 0%;
        margin-top: 5.4vw;
    }
    
    .wrap {
        margin: 3%;
    }

    .contentWrap {
        margin-top: 3vw;
        padding-right: 4.5%;
        padding-left: 4%;
    }

    .logoWrap {
        width: 15%;
        padding-left: 4%;
    }

    .iconsWrap {
        width: 31%;
        margin-top: 3.4vw;
    }
}

@media (max-width: 500px) {
    .selectorWrap,
    .selectorWrapColorful  {
        padding: 2vw 0.01vw;
    }

    .selectorWrap {
        @include evolventa-400-28;
    }

    .iconsWrap {
        width: 45%;
    }

    .options {
        @include evolventa-400-28;
        width: 100%;
        row-gap: 1vw;
    }

    .iconWrap {
        width: 8vw;
        min-width: 8vw;
    }
}