@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.handwritingWhite {
    @include  allison-400-64;
    color: $white-text;
}

.handwritingOrange {
    @include  allison-400-64;
    color: $orange-alert;

}

.handwritingBlack {
    @include  allison-400-64;
    color: $black-text;

}