@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.handwritingWhite {
    color: $white-text;
    @include  allison-400-64;
}

.handwritingOrange {
    color: $orange-alert;
    @include  allison-400-64;

}

.handwritingBlack {
    color: $black-text;
    @include  allison-400-64;

}