@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.howPlaceOrder {
    margin: 16.4vw 3.5vw;
}

.contentWrap {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(2, .7fr) repeat(2, 1fr) repeat(2, .7fr);
    grid-template-rows: repeat(2, .8fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1.6vw;
}

.card1 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    padding-bottom: 1vw;
    grid-area: 1 / 1 / 2 / 4;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .04rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 82%;
        letter-spacing: -.015rem;
    }
}

.card2 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    // padding-bottom: 0;

    grid-area: 1 / 4 / 2 / 7;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .04rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 76%;
        letter-spacing: -.015rem;
    }
}

.card3 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    // padding-bottom: 0;

    grid-area: 2 / 1 / 3 / 3;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 94%;
        letter-spacing: -.015rem;
    }
}

.card4 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    // padding-bottom: 0;

    grid-area: 2 / 3 / 3 / 5;

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 100%;
        letter-spacing: -.015rem;
    }
}

.card5 {
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 2.5vw 2.2vw;
    // padding-bottom: 0;

    grid-area: 2 / 5 / 3 / 7; 

    & .number {
        @include evolventa-700-38;
        color: $orange-alert;
    }

    & .cardTitle {
        @include onest-400-18;
        color: $black-text;
        padding-top: 4vw;
        letter-spacing: .02rem;
    }

    & .cardText {
        @include onest-400-14;
        color: $black-text;
        padding-top: 1.5vw;
        line-height: 124%;
        width: 83%;
        letter-spacing: -.015rem;
    }
}