@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.orderPage {
    position: relative;
    margin-right: 4.6%;
    margin-left: 4.6%;
    margin-top: 8.1vw;
    margin-bottom: 2vw;
}

.note {
    @include onest-400-11;
    letter-spacing: 0.026rem;
    text-align: center;
    background-color: $orange-alert;
    color: $white-text;
    padding: 2.2vw 2.3vw;
    border-radius: 1.2rem;
    margin-bottom: 2.6vw;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1.3vw;
}

.form {
    width: 58%;
    max-width: 58%;
    color: $black-text;

    input, textarea {
        border-radius: 1.2rem;
        width: 95%;
        padding: .5vw 1vw;
        @include onest-400-11;
        margin-bottom: 0.25vw;
    }
}

.switch {
    display: flex;
    color: $black-text;
    width: 100%;
    @include onest-400-14;

    > div:first-child {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }
    
    > div:last-child {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }
}

.switch_item {
    width: 50%;
    text-align: center;
    height: 100%;
    padding: .7vw 0;
    background-color: $beige-card;
    color: $black-text;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

.switch_item_active {
    width: 50%;
    text-align: center;
    height: 100%;
    background-color: $orange-alert;
    color: $white-text;
    padding: .7vw 0;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}

.order {
    width: 50%;
    max-width: 50%;
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 1.2vw 2.5vw;
    padding-right: 3.7vw;
}

.row {
    display: flex;
    gap: 3vw;
    width: 97%;
}

.halfrow {
    width: 50%;
}

.form_label {
    @include onest-400-13;
    margin-top: 1vw;
    margin-bottom: .67vw;
}

.form_title {
    @include onest-500-14;
    margin-top: 2.5vw;
}

.order_title {
    @include onest-500-14;
    margin-top: 1.2vw;
}

.checkboxWrap {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 0.5vw;
}

.checkbox {
    max-width: 1vw;
}

.order {
    color: $black-text;
    
    input, textarea {
        @include onest-400-11;
        border-radius: 1.2rem;
        width: 95%;
        padding: .5vw 1vw;
        margin-top: .5vw;
        margin-bottom: .5vw;
    }
}
.order__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivery_note {
    @include onest-400-11;
    color: $black-text;
    margin-top: .5vw;
}

.delivery_undernote {
    @include onest-400-9;
    color: $black-text;
    margin-top: .25vw;
    margin-bottom: 1vw;
}