@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.orderPage {
    position: relative;
    margin-right: 4.6%;
    margin-left: 4.6%;
    margin-top: 8.1vw;
    margin-bottom: 2vw;
    @media(max-width: 1140px) {
        margin-top: 14vw;
    }
    @media(max-width: 740px) {
        margin-top: 18vw;
    }
    @media(max-width: 440px) {
        margin-top: 24vw;
    }
}

.note {
    @include onest-400-11;
    letter-spacing: 0.026rem;
    text-align: center;
    background-color: $orange-alert;
    color: $white-text;
    padding: 2.2vw 2.3vw;
    border-radius: 1.2rem;
    margin-bottom: 2.6vw;

    @media(max-width: 740px) {
        @include onest-400-28;
        margin-bottom: 4vw;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
    }
    @media(max-width: 440px) {
        @include onest-400-34;
    }
}

.content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1.3vw;

    @media(max-width: 740px) {
        align-items: center;
        gap: 4.3vw;
        flex-direction: column;
    }
}

.form {
    width: 58%;
    max-width: 58%;
    color: $black-text;

    @media(max-width: 740px) {
        width: 93%;
        max-width: 93%;
    }

    input, textarea {
        border-radius: 1.2rem;
        width: 95%;
        padding: .5vw 1vw;
        @include onest-400-11;
        margin-bottom: 0.25vw;
        @media(max-width: 740px) {
            padding: 1.5vw 2vw;
        }
        @media(max-width: 440px) {
            padding: 4vw;
        }
    }
}

.switch {
    display: flex;
    color: $black-text;
    width: 100%;
    @include onest-400-14;

    @media(max-width: 740px) {
        @include onest-400-28;
    }

    @media(max-width: 440px) {
        @include onest-400-45;
        margin-bottom: 6vw;
    }

    > div:first-child {
        border-top-left-radius: 1.2rem;
        border-bottom-left-radius: 1.2rem;
    }
    
    > div:last-child {
        border-top-right-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
    }
}

.switch_item {
    cursor: pointer;
    width: 50%;
    text-align: center;
    height: 100%;
    padding: .7vw 0;
    background-color: $beige-card;
    color: $black-text;
    overflow: hidden;
    transition: all 150ms ease-in-out;
    @media(max-width: 740px) {
        padding: 1.7vw 0;
    }
    @media(max-width: 740px) {
        padding: 4vw 0;
    }
}

.switch_item_active {
    width: 50%;
    text-align: center;
    height: 100%;
    background-color: $orange-alert;
    color: $white-text;
    padding: .7vw 0;
    overflow: hidden;
    transition: all 150ms ease-in-out;
    @media(max-width: 740px) {
        padding: 1.7vw 0;
    }
    @media(max-width: 740px) {
        padding: 4vw 0;
    }
}

.order {
    width: 50%;
    max-width: 50%;
    background-color: $beige-card;
    border-radius: 1.2rem;
    padding: 1.2vw 2.5vw;
    padding-right: 3.7vw;
    @media(max-width: 740px) {
        width: 93%;
        max-width: 93%;
        padding: 3.2vw 4.5vw
    }
}

.row {
    display: flex;
    gap: 3vw;
    width: 97%;
    @media(max-width: 740px) {
        gap: 5vw;
    }
    @media(max-width: 740px) {
        flex-direction: column;
    }
}

.halfrow {
    width: 50%;

    @media(max-width: 740px) {
        width: 100%;
    }
}

.form_label {
    @include onest-400-13;
    margin-top: 1vw;
    margin-bottom: .67vw;
    @media(max-width: 740px) {
        @include onest-400-28;
    }
    @media(max-width: 440px) {
        @include onest-400-45;
    }
}

.form_title {
    @include onest-500-14;
    margin-top: 2.5vw;
    @media(max-width: 740px) {
        @include onest-500-34;
    }
    @media(max-width: 440px) {
        @include onest-500-45;
        margin-top: 8vw;
    }
}

.order_title {
    @include onest-500-14;
    margin-top: 1.2vw;

    @media(max-width: 740px) {
        @include onest-500-34;
    }
        @media(max-width: 740px) {
        @include onest-500-45;
    }
}

.checkboxWrap {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: baseline;
    gap: 0.5vw;
}

.checkbox {
    max-width: 1vw;
    @media(max-width: 740px) {
        max-width: 1.5vw;
    }

    @media(max-width: 740px) {
        max-width: 3vw;
    }
}

.order {
    color: $black-text;
    
    input, textarea {
        @include onest-400-11;
        border-radius: 1.2rem;
        width: 95%;
        padding: .5vw 1vw;
        margin-top: .5vw;
        margin-bottom: .5vw;
        @media(max-width: 740px) {
            padding: 1.5vw 2vw;
        }
        @media(max-width: 440px) {
            padding: 4vw;
        }
    }

    @media(max-width: 740px) {
        margin-bottom: 2vw;
    }
}
.order__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 740px) {
        @include onest-500-28;
    }

    @media(max-width: 740px) {
        @include onest-500-45;
    }
}

.delivery_note {
    @include onest-400-11;
    color: $black-text;
    margin-top: .5vw;
    @media(max-width: 740px) {
        @include onest-400-28;
    }
    @media(max-width: 740px) {
        @include onest-400-34;
    }
}

.delivery_undernote {
    @include onest-400-9;
    color: $black-text;
    margin-top: .25vw;
    margin-bottom: 1vw;
    @media(max-width: 740px) {
        @include onest-400-22;
    }
    @media(max-width: 740px) {
        @include onest-400-28;
        margin-bottom: 5vw;
    }
}

.order__btns {
    @media(max-width: 740px) {
        display: flex;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    @media(max-width: 440px) {
        flex-direction: column;
        gap: 3vw;
    }
}