@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.selectorWrap {
    @include evolventa-400-11;
    font-weight: 400;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: $beige-transparent;
    backdrop-filter: blur(2rem);
    border: none;
    outline: none;
    color: $black-text;
    border-radius: $button-border;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.langWrap {
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 7%;
    margin-left: auto;
    margin-right: auto;
}

.arrowWrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center
}

.selector {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.options {
    @include evolventa-400-11;
    display: block;
    font-weight: 200;
    position: absolute;
    width: 120%;
    top: 110%;
    left: 0;
    background-color: $beige-transparent;
    backdrop-filter: blur(2rem);
    border: none;
    outline: none;
    color: $black-text;
    border-radius: 1rem;
    padding-top: .6rem;
    padding-bottom: .4rem;
}

.closedOptions {
    display: none;
}

.option {
    text-align: center;
    margin-bottom: 3%;
    cursor: pointer;
}

.currentOption {
    text-align: center;
    margin-bottom: 3%;
    color: $link-disabled;
}

@media (max-width: 1140px) {
    .selectorWrap {
        @include evolventa-400-18;
        padding-top: .6rem;
        padding-top: 1.35vw;
        padding-bottom: 1.2vw;
    }
}

@media (max-width: 720px) {
    .selectorWrap {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
    }

    .selectorWrap {
        @include evolventa-400-18;
    }
}