@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/fonts.scss';

.accordionItemOpen {
    cursor: pointer;
    width: 100%;
    min-width: 100%;
    margin-bottom: 1.6vw;
    background-color: $orange-alert;
    border-radius: 1.2rem;
    color: $white-text;

    & .contentWrap {
        padding: 2.2vw 2.3vw;
    }

    & .headerWrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    & .btnWrap {
        width: 4.5%;
        margin-top: -1.1vw;
    }

    .img {
        width: 100%;
        min-width: 100%;
    }

    & .accordionQuestion {
        @include onest-400-18;
        letter-spacing: 0.026rem;
    }

    & .accordionAnswer {
        @include onest-400-13;
        width: 70%;
        letter-spacing: 0.005rem;
    }
}

.accordionItemClosed {
    cursor: pointer;
    width: 100%;
    min-width: 100%;
    margin-bottom: 1.6vw;
    background-color: $beige-card;
    border-radius: 1.2rem;
    color: $black-text;

    & .contentWrap {
        padding: 2.2vw 2.3vw;
        padding-bottom: 0.8vw
    }

    & .headerWrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    & .btnWrap {
        width: 4.5%;
        margin-top: -1.1vw;
    }

    .img {
        width: 100%;
        min-width: 100%;
    }

    & .accordionQuestion {
        @include onest-400-18;
        letter-spacing: 0.026rem;
    }

    & .answerWrap {
        opacity: 0;
    }

    & .accordionAnswer {
        @include onest-400-13;
        width: 70%;
        letter-spacing: 0.005rem;
        font-size: 0vw;
    }
}

@media (min-width: 720px) and (max-width: 1140px) {
    .accordionItemOpen {
        margin-bottom: 1.6vw;

        & .contentWrap {
            padding: 3.2vw 3.4vw;
            padding-right: 3.8vw;
        }
    
        & .btnWrap {
            width: 6.5%;
            margin-top: 0.5vw;
        }

        & .accordionQuestion {
            letter-spacing: -0.012rem;
            width: 82%;
            line-height: 114%;
        }
    
        & .accordionAnswer {
            padding-top: 1.7vw;
            letter-spacing: -.02rem;
        }
    }

    .accordionItemClosed {
    
        & .contentWrap {
            padding: 3.2vw 3.4vw;
            padding-right: 3.8vw;
        }

        & .btnWrap {
            width: 6.5%;
            margin-top: 0.5vw;
        }
    
        & .accordionQuestion {
            letter-spacing: -0.012rem;
            width: 82%;
            line-height: 114%;
        }
    
        & .accordionAnswer {
            width: 70%;
            letter-spacing: 0.005rem;
            font-size: 0vw;
        }
    }
}