@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.wallpapersInInteriors {
    margin: 7.4vw 3.5vw;
    margin-bottom: 0;
}

.handwriteWrap {
    text-align: right;
    width: 50.6%;
    margin-top: -1.5vw;
}

.contentWrap {
    display: grid;
    grid-template-columns: 34.5% 27.5% 34.5%;
    grid-template-rows: 8.5% 25.5% 19% 25% 10% 10%;
    grid-column-gap: 1.6vw;
    grid-row-gap: 1.6vw;
    margin-top: -2.7vw;
}

.photo1 {
    grid-area: 1 / 1 / 3 / 2;
}

.photo2 {
    grid-area: 2 / 2 / 4 / 3;
}

.photo3 {
    grid-area:  1 / 3 / 3 / 4;
    position: relative;
}

.photo4 {
    grid-area: 3 / 1 / 5 / 2;
}

.photo5 {
    grid-area: 4 / 2 / 7 / 3;
}

.photo6 {
    grid-area: 3 / 3 / 6 / 4;
}

.img {
    width: 100%;
    max-width: 100%;
}

.btnWrap {
    margin-top: 1.2vw;
}

.arrowWrap {
    position: absolute;
    width: 35.5%;
    top: 1.4vw;
    left: -14vw;
}