@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';

.wallpapers {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5%;
    row-gap: 2.3vw;
}

.category {
    width: 32.3%;
    max-width: 32.3%;
    transition: $transition-appearance;

    &:hover {
        .categoryName {
            color: $orange-hover;
            transition: $transition-disappearance;
        }
    }
}

.imgWrap,
.imgSrc,
.img {
    width: 100%;
    max-width: 100%;
}

.categoryName {
    @include onest-400-14;
    color: $black-text;
    margin-top: 1.2vw;
}

.btnWrap {
    width: 32%;
    margin-top: 1.5vw;
    margin-right: auto;
    margin-bottom: 6.6vw;
    margin-left: auto;
}

@media (max-width: 720px) {
    .wallpapers {
        justify-content: space-between;
        row-gap: 1.5vw;
    }
    
    .category {
        width: 48.5%;
        max-width: 48.5%;
    }

    .categoryName {
        @include onest-400-24;
    }
}

@media (max-width: 540px) {
    .wallpapers {
        justify-content: center;
        row-gap: 3vw;
    }
    
    .category {
        width: 95%;
        max-width: 95%;
    }

    .categoryName {
        @include onest-400-45;
    }
}
