@import '../../../../styles/colors.scss';
@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts.scss';

.linkBtn {
    @include onest-400-14;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: .7rem;
    padding-bottom: .7rem;
    background-color: $white-text;
    border: 1px solid $orange-alert;
    outline: none;
    border-radius: $button-border;
    transition: $transition-appearance;

    @media (min-width: 720px) and (max-width: 1140px) {
        padding-top: .6rem;
        padding-bottom: .6rem;
    }
    

    &:hover {
        background-color: $orange-alert;
        transition: $transition-disappearance;
        border: 1px solid $orange-alert;
        color: $white-text;

        @media (min-width: 720px) and (max-width: 1140px) {
            @include onest-400-22;
            letter-spacing: -0.015rem;
            line-height: 123%;
        }

        & .link {
            color: $white-text;
            transition: $transition-disappearance;

            @media (min-width: 720px) and (max-width: 1140px) {
                @include onest-400-22;
                letter-spacing: -0.015rem;
                line-height: 123%;
            }
        }
    }
}

.link {
    color: $black-text;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 1%;
    padding-right: 1%;
    transition: $transition-appearance;

    @media (min-width: 720px) and (max-width: 1140px) {
        @include onest-400-22;
        letter-spacing: -0.015rem;
        line-height: 123%;
    }

    @media (max-width: 720px) {
        @include  onest-400-28;
    }
}